<ion-menu contentId="main-content" menuClose>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle>
        <ion-item  routerDirection="root" (click)="saludo()"  menuClose>
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerDirection="root" id="present-alert-pais">
          <ion-icon slot="start" name="globe"></ion-icon>
          <ion-label>Crear país</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerDirection="root" id="present-alert-ciudad" (click)="presentCiudadAlert()">
          <ion-icon slot="start" name="globe"></ion-icon>
          <ion-label>Crear ciudad</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerDirection="root" id="present-alert-famoso" (click)="presentFamosoAlert()">
          <ion-icon slot="start" name="accessibility"></ion-icon>
          <ion-label>Crear famoso</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerDirection="root" (click)="goToSites()">
          <ion-icon slot="start" name="pizza"></ion-icon>
          <ion-label>Sitios</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerDirection="root" (click)="logout()">
          <ion-icon slot="start" name="time"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-alert
  trigger="present-alert-pais"
  header="Nombre del país"
  [buttons]="alertPaisButtons"
  [inputs]="alertPaisInputs"
></ion-alert>

<ion-alert
#ciudadAlert
header="Nombre de la ciudad"
[buttons]="alertCiudadButtons"
[inputs]="alertCiudadInputs"
></ion-alert>

<ion-alert
#paisAlert
header="País de la ciudad"
[buttons]="alertCiudadPaisButtons"
[inputs]="alertCiudadPaisInputs"
></ion-alert>

<ion-alert
trigger="present-alert-famoso"
header="Famoso"
[buttons]="alertFamosoButtons"
[inputs]="alertFamosoInputs"
></ion-alert>

<ion-alert
#paisFamosoAlert
header="País del famoso"
[buttons]="alertPaisFamosoButtons"
[inputs]="alertPaisFamosoInputs"
></ion-alert>

<ion-alert
#ciudadFamosoAlert
header="Ciudad del famoso"
[buttons]="alertCiudadFamosoButtons"
[inputs]="alertCiudadFamosoInputs"
></ion-alert>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hola, {{nombreUserConnect}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <h3>
      Lugares visitados
    </h3>
    <ion-list>
      @if (lugaresVisitados.length === 0) {
        <ion-item>
          <ion-label>No hay lugares visitados</ion-label>
        </ion-item>
      } @else {
        @for (lugar of lugaresVisitados; track lugar.id; let i = $index) {
          <ion-item>
            <ion-label>{{i + 1}}. {{lugar.site_name}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>

    <h3>
      Lugares favoritos
    </h3>
    @if(sitiosFavoritos.length === 0) {
      <ion-item>
        <ion-label>No hay lugares favoritos</ion-label>
      </ion-item>
    } @else {
      @for (lugarFav of sitiosFavoritos; track lugarFav.id; let i = $index) {
        <ion-card>
      <ion-card-header>
        {{lugarFav.city_name}}
        <ion-card-title>{{i + 1}}. {{lugarFav.name}}</ion-card-title>
        <ion-card-subtitle>{{lugarFav.type}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{lugarFav.description}}
      </ion-card-content>
    </ion-card>
      }
    }
    

    <h3>Paises</h3>
    <ion-list>
      @if (paises.length === 0) {
        <ion-item>
          <ion-label>No hay países</ion-label>
        </ion-item>
      } @else {
        @for (pais of paises; track pais.id; let i = $index) {
          <ion-item>
            <ion-label>{{i + 1}}. {{pais.name}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>

    <h3>
      Ciudades
    </h3>
    <ion-list>
      @if (ciudades.length === 0) {
        <ion-item>
          <ion-label>No hay ciudades</ion-label>
        </ion-item>
      } @else {
        @for (ciudadPorPais of ciudades; track ciudadPorPais.id; let i = $index) {
          <ion-item>
            <ion-label>{{i + 1}}. {{ciudadPorPais.name}} - {{ getPaisNameById(ciudadPorPais.country_id) }}</ion-label>
          </ion-item>
        }
      }
    </ion-list>
    <h3>
      Famosos
    </h3> 
    @if(famosos.length === 0) {
      <ion-item>
        <ion-label>No hay famosos</ion-label>
      </ion-item>
    } @else {
      @for (famoso of famosos; track famoso.id; let i = $index) {
        <ion-card>
      <ion-card-header>
        {{famoso.city_name}}
        <ion-card-title>{{i + 1}}. {{famoso.name}}</ion-card-title>
        <ion-card-subtitle>{{famoso.category }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
      }
    }

    <h3>
      Sitios
    </h3> 
    @if(sitios.length === 0) {
      <ion-item>
        <ion-label>No hay sitios</ion-label>
      </ion-item>
    } @else {
      @for (sitio of sitios; track sitio.id; let i = $index) {
        <ion-card>
      <ion-card-header>
        {{sitio.city_name}}
        <ion-card-title>{{i + 1}}. {{ sitio.name}}</ion-card-title>
        <ion-card-subtitle>{{sitio.type}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{sitio.description}}
      </ion-card-content>
    </ion-card>
      }
    }
    
    <h3>Platos</h3>
    <ion-list>
      @if (platos.length === 0) {
        <ion-item>
          <ion-label>No hay platos</ion-label>
        </ion-item>
      } @else {
        @for (plato of platos; track plato.id; let i = $index) {
          <ion-item>
            <ion-label>{{i + 1}}. Nombre: {{plato.name}} - Precio: ${{plato.price}} - Sitio: {{plato.site_name}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>
  </ion-content>
</div>